/* common */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
header > * {
  padding: 0.5rem 0 !important;
}
header #logo {
  width: 68px;
  overflow: hidden;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 9;
  background-color: #ffffff;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.05);
}
#body {
  margin-top: 60px;
  margin-bottom: 60px;
}
/* home */
#home #home_carousel {
  height: 200px;
}
#home #home_carousel > * {
  height: inherit !important;
}
#home #home_contents,
#home #home_hashtag,
#home #home_luckMenu {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
#home #home_hashtag,
#home #home_luckMenu,
#home #home_luckList,
#home #home_themeList,
#home #home_freeList {
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom: 10px solid #f9f9f9;
}
#home #home_contents,
#home #home_hashtag,
#home #home_luckMenu,
#home #home_luckList,
#home #home_themeList,
#home #home_freeList,
#home #home_hotList {
  padding-right: 15px;
  padding-left: 15px;
}
#home #home_hotList {
  padding-top: 28px;
  padding-bottom: 28px;
}
#home .articleTitle > a {
  color: #ff9900;
}
