header > * {
  padding: 0.5rem 0 !important;
}
header #logo {
  width: 68px;
  overflow: hidden;
}
#home #home_carousel {
  height: 200px;
}
#home #home_carousel > * {
  height: inherit !important;
}
#home #home_hashtag,
#home #home_luckBtn {
  padding: 50px 0;
  position: relative;
}
#home #home_hashtag::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  opacity: 0.5;
  background-color: #f9f9f9;
}
#home .articleTitle > a {
  color: #ff9900;
}
